<div class="jumbotron">
    <div class="row">
        <div class="col-5"></div>
        <div class="col=2">
            <h1>Job Profile</h1>
        </div>
        <div class="col-5"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form [formGroup]="profileForm" (ngSubmit)="formSubmit()">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="col-sm-3"></div>
                                    <label for="firstName" class="col-sm-1 col-form-label">First Name</label>
                                    <input formControlName="firstName"  id="firstName" class="form-control col-sm-4" type="text"
                                        placeholder="Enter Your First Name">

                                <div class="col-sm-4"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 ">
                            <div class="form-row">
                                <div class="col-sm-3"></div>
                                <label for="lastName" class="col-sm-1 col-form-label">Last Name</label>
                                <input id="lastName" formControlName="lastName" type="text" class="form-control col-sm-4" placeholder="Enter Your Last Name">
                                <div class="col-sm-4"></div>
                            
                            </div>

                        </div>
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="col-sm-3"></div>
                                <label for="email" class="col-sm-1 col-form-label">Email</label>
                                <input id="email" type="email" formControlName="email" class="form-control col-sm-4" placeholder="Enter Your Email Id">
                                <div class="col-sm-4"></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="col-sm-3"></div>
                                <label for="profilePicture" class="col-sm-1 col-form-label">Profile Picture</label>
                                <input id="profilePicture" formControlName="profilePicture" type="file" (change)="fileChange($event)" accept=".jpg,.png" class="form-control col-sm-4">
                                <div class="col-sm-4"></div>
                            </div>

                        </div>
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="col-sm-3"></div>
                                <label for="resume" class="col-sm-1 col-form-label">Resume</label>
                                <input id="resume" type="file" formControlName="resume" (change)="fileChange1($event)" accept=".pdf,.doc,.docx" class="form-control col-sm-4">
                                <div class="col-sm-4"></div>
                            </div>

                        </div>

                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="col-sm-7"></div>
                                <div class="col-sm-5">
                                    <button class="btn btn-primary" [disabled]="profileForm.invalid" >Submit</button>
                                </div>
                            </div>

                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>